.index-body{
	width:750px;
	height:227px;
	margin:auto;
	position: absolute;
	top:0;
    bottom: 0;
	left: 0;
    right: 0;
    
}

#button1{
	display:block;
	margin:0 auto;
	border-radius:30px;
	width:35%;
	margin-top:50px;
}
