
h3{
	display: inline;
}

table,th,td{
	text-align: center;
	margin: 0 auto;
}

ul{
	display: inline-block;
}

li{
	font-size: 2em;
	font-weight: bold;
	list-style: none;
}
i{
	display: inline-block;
}

.buttons{
	border-radius:25px;
}

.table.table-striped{
	border:none;
}

.header{
	text-align: center;
}

.weather-icon{
	margin:0 auto;
	text-align: center;
}

.content{
	width:500px;
	margin: 0 auto;
}

.body-weather{
	text-align: center;
}

.first-li{
	font-size: 62px;
}

.weather-button{
	outline:none;
}

.final-playlist-table{
	visibility:hidden ;
	margin-top: 30px;
}
.final-playlist-button{
	visibility:hidden;
	display:block;
	margin:0 auto;
}

.final-playlist-div{
	position:absolute;
	left:0;
	right:0;
}

.final-playlist-table tbody tr td, .final-playlist-table tbody tr th, .final-playlist-table thead tr th {
    border: none;
}


#create-button{
	margin: 0 auto;
	text-align: center;
	display: block;
	visibility: hidden;
}

#table-show-playlist{
	visibility: hidden;
	margin-top:-19px;
}


